.symbol-container .slider {
    margin-top: 20px;
    
  }
  .symbol-container .slider .horizontal-slider {
    width: 100%;
    margin: 0 auto;
    height: 2px;
    background-color: #ccc;
  }
  .symbol-container .slider .example-thumb {
    width: 25px;
    height: 25px;
    border: 2px solid #9c6;
    background-color: #fff;
    border-radius: 50%;
    cursor: grab;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -12px;
    position: relative;
    outline: none;
  }
  .symbol-container .slider .example-thumb::after {
    content: "| |";
    font-size: 10px;
    color: #9c6;
  }
  .symbol-container .slider .example-track {
    height: 100%;
    border-radius: 4px;
  }
  .symbol-container .slider .example-track.example-track-1 {
    background-color: #9c6 !important;
  }
  