.headerfilt {
  padding: 20px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  font-weight: 700;
  box-shadow: 0px 2px 5px #0000000f;

  span {
    text-align: left;
    font: normal normal bold 16px;
    letter-spacing: 0px;
    color: #696974;
    opacity: 1;
  }
  .close {

    transform: matrix(-1, 0, 0, -1, 0, 0);
    /* UI Properties */
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
  }
}
