/* DomainError.module.scss */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-align: center;
  font: normal normal bold 18px;
  letter-spacing: 0px;
  color: #696974;
  opacity: 1;
  margin-top: 129px;
}

.image-container {
  width: 195px;
  height: 168px;
}

.heading {
  font-size: 24px;

  margin-top: 36px;
}

.paragraph {
  font-size: 16px;
  margin-top: 15px;
  margin-top: 24px;
}
