@import "variables";
@import "mixins";

.newNavbar {
  padding: 22px;
  background-color: $color-white;
  border-bottom: 1px solid #f1f1f5;
  border-top: 1px solid #f1f1f5;
}

.newPart {
  display: flex;
  align-items: center;
  gap: 29px;
}

.newItem {
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
  color: $color-dark-gray;
  font-family: $font-family-medium;
}

@media screen and (max-width: 1199px) {
  .newNavbar {
    display: none !important;
  }
}

.newContainer {
  @include container();
  @include flexBox-between();
}
