/* SideBar.module.scss */

.input {
  width: 150px;
  height: 44px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #e5e5ed;
  border-radius: 10px;
  opacity: 1;
  padding-left: 10px; // Adjust padding to your preference
  margin-top: 15px;
}

.priceLabel {
  margin-bottom: 15px;
  margin-left: 16px;
  text-align: left;
  font: normal normal bold 16px/40px TKT;
  letter-spacing: 0px;
  color: #171d25;
  opacity: 1;
  margin-top: 35px;
}

.dollarSign2 {
  position: absolute;
  right: 198px;
  color: #92929d;
}
.inputContainer {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  position: relative;

  .dollarSign {
    margin-right: 8px;
    position: absolute;
    right: 14px;
    color: #92929d;
  }
}

.input {
  width: 150px;
  height: 44px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #e5e5ed;
  border-radius: 10px;
  opacity: 1;
  padding-left: 10px; // Adjust padding to your preference
}
