@font-face {
  font-family: "TKT";
  src: url("/public/fonts//TKT-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 1286px;
  max-width: 100%;
  margin-top: 27px;
  cursor: pointer;
  letter-spacing: 0px;
  color: #92929d;
  opacity: 1;

  .titleOne {
    color: #6b7280;
    font-size: 0.675rem;
    line-height: 1.25rem;
  }
  .clickedTitleOne {
    color: #99cc66;
    font-size: 0.675rem;
    font-weight: bold;
    line-height: 1.25rem;
  }
}

.domainFilter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-top: 60px;

  @media screen and (max-width: 768px) {
    width: 90%;
  }
}

.titleTwo {
  margin-left: 130px;
  display: flex;
  width: 40%;
  justify-content: space-between;
  font-size: 14px;
  letter-spacing: 0px;
  color: #92929d;
  opacity: 1;

  .titleTwoChild {
    display: flex;

    div {
      margin-left: 17px;
    }
  }

  .titleTwoChild > p {
    margin: 10px;
    font-size: 14px;
  }
}

.iconicTitle {
  display: flex;
  align-items: center;
}

.ml {
  margin-left: 1px;
}

.mt {
  margin-top: 1px;
}

.w5 {
  width: 5px;
}

.span {
  font-size: 14px;
  letter-spacing: 0px;
  color: #171725;
  opacity: 1;
  list-style: none;
}

.filtering {
  display: none !important;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.filtering {
  display: none !important;
  display: flex;
  justify-content: center;
  gap: 10px;
}

@media screen and (max-width: 1199px) {
  .title {
    display: none !important;
  }
}

@media screen and (max-width: 1199px) {
  .filtering {
    display: flex !important;
  }
  .filtering .button1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding-left: 30px;
  }
  .filtering .button1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding-left: 30px;
  }
}

.showSidebar {
  display: block;
}
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 2;
  overflow-y: auto;
}

.button1 {
  margin-top: 20px;
  width: 160px;
  height: 40px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #e5e5ed;
  border-radius: 10px;
  opacity: 1;
  margin-bottom: 17px;
  font: normal normal normal 14px;
  letter-spacing: 0px;
  color: #696974;
}

.iconRight2 {
  color: #171725;
  margin-right: 10px;
  opacity: 1;
  width: 15px;
  height: 15px;
}
.iconRight {
  color: #171725;
  margin-right: 10px;
  opacity: 1;
  width: 15px;
  height: 15px;
}

.sortContainer {
  margin-top: 13px;
}
