/* SideBar.module.scss */

.input {
  width: 150px;
  height: 44px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #e5e5ed;
  border-radius: 10px;
  opacity: 1;
  padding-left: 10px; // Adjust padding to your preference
  margin-top: 15px;
}

.priceLabel2 {
  margin-bottom: 15px;
  margin-top: 50px !important;
  text-align: left;
  font: normal normal bold 16px/40px TKT;
  letter-spacing: 0px;
  color: #171d25;
  opacity: 1;
}
