@import "variables";
@import "mixins";

.headerContainer {
  max-width: 1267px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #ffffff;

  .logoContainer {
    a {
      img {
        height: 32px;
        width: auto;
        object-fit: contain;
      }
    }
  }

  .rightContent {
    @include flexBox-between();
    background-color: $color-white;
    height: 100%;
    gap: 20px;
    padding-bottom: 10px;
    .menuItem {
      @include flexBox-center();
      border-radius: 12px;
      padding: 14px;
      cursor: pointer;

      img {
        height: 20px;
        width: auto;
      }

      &:hover {
        background-color: $color-background;
      }
    }

    .userSection {
      @include flexBox-between();
      background-color: $color-white;
      border: 1px solid #f1f1f5;
      border-radius: 12px;
      padding: 14px;
      width: 160px;
      gap: 24px;
      cursor: pointer;

      img {
        height: 20px;
        width: auto;
      }

      .userDetails {
        @include flexBox-center();
        gap: 10px;

        img {
          height: 19px;
          width: auto;
        }

        span {
          max-width: 70px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-family: $font-family;
          font-size: 14px;
          color: $color-dark-gray;
        }
      }

      .dropdownArrow {
        @include flexBox-center();

        img {
          height: 5px;
          width: auto;
        }
      }

      &:hover {
        background-color: $color-background;
      }
    }

    @media (max-width: 768px) {
      .userSection {
        display: none !important;
      }
      .menuItem {
        padding: 10px;
      }

      .userSection {
        padding: 10px;
        width: auto;
      }
    }
  }
}
