.input {
  width: 315px;
  height: 60px;
  /* UI Properties */
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #e5e5ed;
  border-radius: 10px;
  opacity: 1;
  margin-top: 35px;
  margin-left: 30px;
  margin-right: 35px;
  outline: none;
  padding-left: 20px;
  font: normal normal normal 16px;
  letter-spacing: 0px;
  color: #92929d;
  opacity: 1;
}
