.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 9999; /* Ensure it's above other content */
  display: none; /* Initially hide the overlay */
}

/* Add a class to show the overlay when needed */
.overlay.showOverlay {
  display: block;
}
